<!DOCTYPE html>
<html>
  <head>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Search for that book you want to love.</h1>
    <div class="books_found_html">

      {% for book in books_found %}
      <div class="each_book">
        <p>{{book.book_name}}</p>
        <p>{{book.book_author}}</p>
        <p>{{book.book_genre}}</p>
        <p>{{book.book_description}}</p>
        <form class="more_book_info" action="/book_info" method="get">
          <input type="submit" name="more_info" value="Click for more info on this book">
        </form>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
