<!DOCTYPE html>
<html>
<head>
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <title> readr</title>
</head>
<body class="main_body">
  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my_collection">My Collection</a></li>
      <li><a href="/search_feed">Search</a></li>
      <li><a href="mamadou">Log Out</a></li>
    </ul>
    <h1> readr </h1><img src ="http://www.clker.com/cliparts/e/8/0/e/1206580017363707510barretr_Book.svg.hi.png" height = "36" width = "33">
  </div>

  <br>

  <center><left><h1> Search for a book in readr </h1></left></center>

  <div class="clearfix search_style">
    <form name="searchbar">
      <input type="text" placeholder="Enter a title..." required>
      <input type="button" value="Search">
    </form>
  </div>


</body>
</html>
