<!DOCTYPE html>
<html>
<head>
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <title></title>
</head>
<body class="main_body">

  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my_collection">My Collection</a></li>
      <li><a href="/search_feed">Search</a></li>
      <li><a href="mamadou">Log Out</a></li>
    </ul>
    <h1>readr</h1><img src ="http://www.clker.com/cliparts/e/8/0/e/1206580017363707510barretr_Book.svg.hi.png" height = "36" width = "33">
  </div>

  <br>
  <div class="make_center">
    <p class="welcome"> WELCOME </p>
  </div>
  <!-- <div class="else_box"> -->
  <center>
    <p>
      Connecting book lovers:
    </p>
  </center>
  <center>
    <p>
      The only place where you can exchange the books you love

    </p>
  </center>
  <center>
    <p> for the books you want to love. </p>
  </center>
  <br>
  <div class = "link">
    <center> <a href="{{user_create_login_url}}">Click to Login</a> </center>
  </div>
  <br>

</body>
</html>
