<!DOCTYPE html>
<html>
<head>
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
  <script src="/javascript/main.js"></script>
</head>
<body class="main_body">

  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my_collection">My Collection</a></li>
      <li><a href="/search_feed">Search</a></li>
      <li><a href="{{user_create_logout_url}}">Logout</a></li>
    </ul>
    <h1>readr</h1><img src ="http://www.clker.com/cliparts/e/8/0/e/1206580017363707510barretr_Book.svg.hi.png" height = "36" width = "33">
  </div>

  <br>
  <div class="profout_box">
    <center>
      <h1 class="profout_h1">Welcome {{user_details.user_name}}!</h1>
      <button id="profile_info_button" class="insert_info_button" type="button">My Profile Information</button>
      <div class="profile_info">
        <p><label> Email: {{ user_details.user_email }}</label></p>
        <p><label> Birthdate: {{ user_details.user_birthdate }}</label></p>
        <p><label> Phone: {{ user_details.user_number }} </label></p>
        <p><label> City: {{ user_details.user_city }} </label></p>
        <p><label> Favorite genre: {{ user_details.user_fav_genre }} </label></p>
      </div>

      <div class="button_form">
        <form action="/my_collection" method = "get">
          <input class="insert_info_button" type="submit" name="my_collections" value="My Collections">
        </form>
        <form action="/search_feed" method = "get">
          <input class="insert_info_button" type="submit" name="search_for_books" value="Search for Books">
        </form>
      </div>

      <div class="requests">
        <h3 class="profout_h1" > Current Requests </h3>
        {% for request in user_requests %}
        <p>Request x: You have a request from <i>{{request.this_owner_id}}</i> for your book: <i>{{request.this_book_id}}</i></p>
        <div class="approve_rejec">
        <div class=approve>
          <form class="approve_button" action="/approve" method="post">
            <input type="text" class="approve_reject" name="owner_id" value="{{request.this_owner_id}}">
            <input class="insert_info_button" type="submit" value="Approve">
          </form>
        </div>
        <div class="reject">
          <form class="reject_button" action="/reject" method="post">
            <input type="text" class="approve_reject" name="book_id" value="{{request.this_book_id}}">
            <input class="insert_info_button" type="submit" value="Reject">
          </form>
        </div>
        </div>
        {% endfor %}
      </div>

    </center>

  </body>
  </html>
