<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/my_collection.css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="../javascript/main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  </head>
  <body class = "main_body">
    <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/my_collection">My Collection</a></li>
  <li><a href="/search_feed">Search</a></li>
  <li><a href="{{user_create_logout_url}}">Logout</a></li>
  </ul>
    <h1> readr </h1><img src ="http://www.clker.com/cliparts/e/8/0/e/1206580017363707510barretr_Book.svg.hi.png" height = "36" width = "33">
    <center><p class="prof_h1">My Collections Page</p></center>
    <hr>
    <div class="clearfix">
    <div class = "books">
      {% for book in books %}
      <div class="book">
        <p class="book_name">{{book.book_name}}</p>
        <p class="book_author">{{book.book_author}}</p>
        <p class="book_genre">{{book.book_genre}}</p>
        <p class="book_dec">{{book.book_description}}</p>
      </div>
      {% endfor %}
    </div>

    </div>
    <!-- If the user clicks the add book button, than the form below pops up. When the user enters in all the information,
    the page reloads with the new book.  -->
    <br>

    </br>
  <div class="form_style" >
    <button class = "button" id="add_a_book" type="button"><span>Add a book</span></button>
    <div class="add_book_form">

      <form class="add_book" method="post">
      <h3>Enter book information below and click submit:</h3>
      <br>
      <input type="text" name="title" id="title" placeholder="Title">
      </br>
      <br>
      <input type="text" name="author" id="author" placeholder="Author">
      </br>
      <br>
      <input type="text" name="genre" id="genre" placeholder="Genre">
      </br>
      <br>
      <input type="text" name="description" id="description" placeholder="Brief description">
      </br>
      <br>
      <input id="submit_new_button" type="submit" name="submit" value="Submit"> <span></span>
      </br>

    </form>
    </div>
  </div>
  </body>
</html>
