<!DOCTYPE html>
<html>
  <head>
    <title>Readr</title>
  </head>
  <body>
    <h1>Readr</h1>
    <h1>Welcome {{name_answer}}!</h1>
    <p>Email: {{email_answer}}</p>
    <p>Birthdate: {{birthdate_answer}}</p>
    <p>Phone: {{ phone_answer }} </p>
    <p>City: {{ city_answer }} </p>
    <p>Your favorite genre is: {{ genre_answer }} </p>

    <form action="/my_collection" method="get">
      <input type="submit" name="my_collections" value="My Collections">
    </form>
    <form action="/search_for_book" method = "get">
      <input type="submit" name="search_for_books" value="Search for Books">
    </form>
    <a href="{{ user_create_logout_url }}">Click to Log Out </a>

  </body>
</html>
