<!DOCTYPE html>
<html>
  <head>
    <title>Readr</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

  </head>
  <body>
    <h1>Create Your Profile Page</h1>
    <h2>Insert your information here:</h2>

    <form method=post>
        <p>Name:<input type="text" name="name"/></p>
        <p>Email:<input type="text" name="email"/></p>
        <p>Birthdate:<input type="text" name="birthdate"/></p>
        <p>Phone: <input type="text" name="phone"/></p>
        <p>City: <input type="text" name="city"/></p>
        <p>Genre: <input type="text" name="genre"/></p>
        <button type="submit">Place Order</button>
    </form>
  </body>
</html>
