<!DOCTYPE html>
<html>
  <head>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="/javascript/main.js"></script>
  </head>


    <h1 class="prof_h1">Readr</h1>
    <h2 class="prof_h2">Welcome {{user_details.user_name}}!</h2>
    <button id="profile_info_button" type="button">Profile Information</button>

    <!-- {% for user in user_details %}
      <p>{{user.user_name}}
    {% endfor %} -->


    <div class="profile_info">
      <p>Email: {{user_details.user_email}}</p>
      <input type="text" value={{user_details.user_email}}>
      <p>Birthdate: {{user_details.user_birthdate}}</p>
      <input type="text" value="{{user_details.user_birthdate}}">
      <p>Phone: {{ user_details.user_number }} </p>
      <input type="text" value="{{user_details.user_birthdate}}">
      <p>City: {{ user_details.user_city }} </p>
      <input type="text" value="{{user_details.user_city}}">
      <p>Your favorite genre is: {{ user_details.user_fav_genre}} </p>
      <input type="text" value="{{user_details.user_fav_genre}}">
    </div>

    <div class="requests">
      <h3> Current Requests </h3>
      {% for request in user_requests %}
        <p>Request x: You have a request from {{request.this_owner_id}} for your book: {{request.this_book_id}}</p>
        <div class=approve>
          <form class="approve_button" action="/approve" method="post">
            <input type="text" name="owner_id" value="{{request.this_owner_id}}">
            <input type="submit" value="Approve">
          </form>
        </div>
        <div class="reject">
          <form class="reject_button" action="/reject" method="post">
            <input type="text" name="book_id" value="{{request.this_book_id}}">
            <input type="submit" value="Reject">
          </form>
        </div>
      {% endfor %}
    </div>


    <form action="/my_collection" method = "get">
      <input type="submit" name="my_collections" value="My Collections">
    </form>
    <form action="/search_for_book" method = "get">
      <input type="submit" name="search_for_books" value="Search for Books">
    </form>
    <a href="{{ user_create_logout_url }}">Click to Log Out </a>

  </body>
</html>
