<!DOCTYPE html>
<html>
  <head>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <title>Readr</title>
  </head>
  <body>
    <h1 class="prof_h1">Readr</h1>
    <h2 class="prof_h2">Welcome {{name_answer}}!</h2>
    <p>Email: {{email_answer}}</p>
    <p>Birthdate: {{birthdate_answer}}</p>
    <p>Phone: {{ phone_answer }} </p>
    <p>City: {{ city_answer }} </p>
    <p>Your favorite genre is: {{ genre_answer }} </p>

    <form action="/my_collection" method="get">
      <input type="submit" name="my_collections" value="My Collections">
    </form>
    <form action="/search_for_book" method = "get">
      <input type="submit" name="search_for_books" value="Search for Books">
    </form>
    <a href="{{ user_create_logout_url }}">Click to Log Out </a>

  </body>
</html>
