<!DOCTYPE html>
<html>
  <head>
    <title>Readr</title>
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1 class="prof_h1">Hello {{ user_nickname }}.</h1>
    <h2 class="prof_h2">Insert your information here:</h2>

    <form name="user_form" action="/" method=post>
        <p>Preferred first name:  <input type="text" name="name"/></p>
        <p>Email:  <input type="text" name="email"/></p>
        <p>Birthdate:  <input type="text" name="birthdate"/> (MM/DD/YYYY)</p>
        <p>Phone:  <input type="text" name="phone"/></p>
        <p>City:  <input type="text" name="city"/></p>
        <p>Genre:  <input type="text" name="genre"/></p>
        <input id="submit_info" type="submit">Create your profile</input>
    </form>
    <hr>
    <!-- Brittany: Make this link look like a button -->
    <a href="{{ user_create_logout_url }}">Click to Log Out </a>
  </body>
</html>
