<!DOCTYPE html>
<html>
  <head><link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="main_body">

    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/my_collection">My Collection</a></li>
        <li><a href="/search_feed">Search</a></li>
        <li><a href="{{user_create_logout_url}}">Logout</a></li>
      </ul>
      <h1> readr </h1><img src ="http://www.clker.com/cliparts/e/8/0/e/1206580017363707510barretr_Book.svg.hi.png" height="36" width="33">
    </div>

    <hr>

      <p class="available_books">Your request was approved! <a class="another_book" href="/my_collection">Requst Another Book</a></p>

    <hr>

    <div class="content">
      <br>
    <h1>Search for another book in readr!</h1>

    <div class="clearfix search_style">
      <form method="post">
        <input type="text" id="text_to_search" name="text_to_search" placeholder="Enter a title, author, or genre">
        <input type="submit" class="insert_info_button" id="search_for_book" value="Search">
      </form>
    </div>

    <div class="books">
      {% for book in list_of_books %}
      <div class="book">
        <div class="each_book">
          <p class="book_name">{{book.book_name}}</p>
          <p class="book_author" >{{book.book_author}}</p>
          <p class="book_genre">{{book.book_genre}}</p>
          <p class="book_dec">{{book.book_description}}</p>
        </div>
        <!-- <p>{{book.book_id}}</p>
        <p>{{book.book_owner_id}}</p> -->
        <form class="more_book_info" action="/save_request" method="post">

          <div class="request_button">
            <input class="insert_info_button" id="request_book_button" type="submit" name="more_info" value="Request This Book">
          </div>
          <div class="important_id">
            <input type="text" name="book_id" value={{book.book_id}}>
            <input type="text" name="book_owner_id" value={{book.book_owner_id}}>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>
    </div>
  </body>
</html>
